# default command line configuration
'cmdline_profile::gitconfig':
  color:
    ui:     true
  core:
    editor: vim
  user:
    name:   Your Github.com username
    email:  Your Github.com email

# default oh my zsh theme
# 'cmdline_profile::ohmyzsh':
#   theme:   gianu
#   plugins: 'git github python pip django'
#   custom:  ''

# ~/.vimrc file contents, if any
# 'cmdline_profile::vimrc': "
# :syntax on\n
# :set expandtab\n
# :set tabstop=4\n
# :set shiftwidth=4\n
# :set smarttab"