# default github.com account
user:
  name:  Your Github.com username
  email: Your Github.com email

# default oh my zsh theme
ohmyzsh: gianu

# custom zsh init file contents, if any, to go in ~/.oh-my-zsh/custom/local.zsh
custom: ~

# ~/.vimrc file contents, if any
vimrc: ~
